.headerContainer {
  background-color: #3367d6;
  display: flex;
  height: 60px;
  align-items: center;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  min-width: 100vw;

  justify-content: center;
}

.logo {
  height: 50px;
  width: 100px;
  margin-left: 80px;
}

.searchBar {
  background-color: #2850a7;
  height: 30px;
  width: 180px;
}

.searchLogo {
  height: 30px;
  width: 30px;
  background-color: #2850a7;
  margin-right: 5px;
}

.historyItemContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.displayNulltext {
  font-family: 'roboto';
  text-align: center;
}
